.combat-resolver-set-area-target {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 10px;
    right: 10px;
    background-color: #3261cf;
    box-shadow: 0 1px 3px rgb(0 0 0 / 16%), 0 1px 3px rgb(0 0 0 / 23%);
    text-align: center;
    line-height: 25px;
    font-weight: bold;
    border-radius: 2px;
}

.combat-resolver-set-area-target:hover {
    background-color: #29a877;
}
.combat-resolver-set-area-target.cr-active {
    background-color: #29a877;
}

.combat-resolver-set-monster-target {
    width: 31px;
    height: 31px;
    background-color: #3261cf;
    box-shadow: 0 1px 3px rgb(0 0 0 / 16%), 0 1px 3px rgb(0 0 0 / 23%);
    text-align: center;
    line-height: 33px;
    font-weight: bold;
    border-radius: 2px;
    display: inline-block;
    transform: translateY(2px);
    margin-left: 10px;
}

.combat-resolver-set-monster-target:hover {
    background-color: #29a877;
}
.combat-resolver-set-monster-target.cr-active {
    background-color: #29a877;
}

.combat-resolver-set-slayer-task-target {
    width: 31px;
    height: 31px;
    background-color: #3261cf;
    box-shadow: 0 1px 3px rgb(0 0 0 / 16%), 0 1px 3px rgb(0 0 0 / 23%);
    text-align: center;
    line-height: 33px;
    font-weight: bold;
    border-radius: 2px;
    float: right;
}

.combat-resolver-set-slayer-task-target:hover {
    background-color: #29a877;
}
.combat-resolver-set-slayer-task-target.cr-active {
    background-color: #29a877;
}


.wid-safety-factor {
    color: #30c78d;
    position: absolute;
    top: 5px;
    right: 10px;
    font-weight: bolder;
}

.wid-safety-factor-danger {
    color: #df4646 !important;
}

.wid-safety-factor-warning {
    color: #f1c40f !important;
}

.combat-resolver-safe {
    color: #30c78d !important;
}

.combat-resolver-danger {
    color: #df4646 !important;
}

.combat-resolver-unknown {
    color: #f5f5f5 !important;
}

.combat-resolver-recalc {
    color: #f1c40f !important;
    box-shadow: 0 0 0 0 rgba(241, 196, 15, 1);
    animation: wid-recalc-pulse 2s infinite;
}

#will-i-die-header-tab-dropdown > .dropdown-header {
    color: #ecf0f1;
    font-weight: bold;
}

.combat-resolver-tab-content {
    color: #f5f5f5;
}

.cr-hl {
    font-weight: bold;
}

.cr-hl-warn {
    color: #e56767;
}

.cr-hl-ok {
    color: #27ae60;
}

.cr-hl-enemy {
    color: #d35400;
}

.cr-hl-area {
    color: rgb(241, 196, 15);
}

.cr-hl-dmg {
    color: #e74c3c;
}

.cr-hl-block {
    color: #2980b9;
}

.cr-hl-spec {
    color: #9b59b6;
}

.cr-hl-health {
    color: #16a085;
}


@keyframes wid-recalc-pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(241, 196, 15, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(241, 196, 15, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(241, 196, 15, 0);
    }
}